{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/products-form.css' %}">
   
    <title>home</title>
</head>

<body>
    <main>
        <!-- barra de navegação -->
        <nav class="navbar navbar-expand-lg p-3">
            <div class="container-fluid justify-content-between">
          
                <div class="d-flex">
                    <a class="navbar-brand" href="/">
                        <h1>Sistema de Cadastro</h1>
                    </a> 
                </div>

                <ul class="navbar-nav flex-row d-none d-md-flex col-9 justify-content-center">
                    <li class="nav-item me-3 me-lg-1 col-10">
                        <form class="d-none d-sm-flex ">
                            <input class="form-control rounded " placeholder="procure por código, nome, marca ..."/>
                        </form>
                    </li>

                    <li class="nav-item d-flex flex-column text-white ms-3 me-lg-1">
                        <small><b>Bem-vindo :)</b></small>
                    </li>
                </ul>

                <ul class="navbar-nav flex-row">
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                            <span class="material-icons-outlined"></span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-plus-circle fa-lg"></i></span>
                        </a>
                    </li> 
                </ul>
            </div>
        </nav>
         <!-- barra de navegação -->

        <div class="container-fluid">

            <div class="row">
                <form name="products-form" id="products-form" action="{% if db %}/atualizacompany/{{ db.id }}/{% else %}/createcompany/{% endif %}" method="post" class="col-8 m-auto ">
                    {% csrf_token %}
                    <label class="mb-2" for="nome">nome</label>
                    <div id="nome" class="form-group mb-3 bg-danger" >{{companyform.nome}}</div>

                    <label class="mb-2" for="email">email</label>
                    <div id="email" class="form-group mb-3" >{{companyform.email}}</div>

                    <label class="mb-2" for="rua">rua</label>
                    <div id="rua" class="form-group mb-3" >{{companyform.rua}}</div>

                    <label class="mb-2" for="cep">cep</label>
                    <div id="cep" class="form-group mb-3" >{{companyform.cep}}</div>
                    
                    <label class="mb-2" for="bairro">bairro</label>
                    <div id="bairro" class="form-group mb-3" >{{companyform.bairro}}</div>

                    <label class="mb-2" for="cidade">cidade</label>
                    <div id="cidade" class="form-group mb-3" >{{companyform.cidade}}</div>

                    <label class="mb-2" for="fone">fone</label>
                    <div id="fone" class="form-group mb-3" >{{companyform.fone}}</div>

                    <label class="mb-2" for="fone">cnpj</label>
                    <div id="cnpj" class="form-group mb-3" >{{companyform.cnpj}}</div>

                    <div>
                        <button type="submit" class="btn btn-outline-primary">cadastrar</button>
                        <a class="btn btn-outline-danger" href="/" role="button">voltar</a>
                    </div>
                    
                </form> 

            </div>
            
        </div>

    </main>
</body>
</html>